body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #f1f1f1;
}



.pie-login{
	padding: 70px;

}

.letras-log {
	margin: 34px;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 0px;
}
.form-group {
	margin-bottom: 23px;
}

h1, .h1 {
	font-size: 45px;
	color: black;
	margin: 50px;
}

.container-login {
	position: relative;
	height: 100%;
	text-align: center;
	color: #000;
	background: url(imagen/pescado.jpg);

}

.container {
	position: relative;
	height: 100%;
	text-align: center;
	color: #000;

}

.panel-login {
	max-width: 500px;
	max-height: 470px;
	margin: 0 auto 20px;
	border-radius: 8px;
	border: 40px solid transparent;
	background-color: #ffffff;
}

.espacio-logo {
	float;
	width: 100%;
	margin-top: 100px;
	background: url(imagen/pescado.jpg);

}

.col-sm-offset-2 {
	margin-left: 15.666667%%;
}

.col-sm-10 {
	width: 64.333333%;
}

.caja-buscar{
	float: left;
	width: 200px;
	margin-top: 8px;
}

.navbar-inverse {
	background-color: #124559;
	border-color: #080808;
}
.navbar-inverse .navbar-brand {
	color: #FEF4FF;
}

.navbar-inverse .navbar-nav>li>a {
color: #FEF4FF;
}
